body {
  background-image: url("../images/milkyway.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05); /* 5% opaque black layer */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: white; /* Adjust text color for better readability */
  padding: 20px;
}

.text-light-blue {
  color: #bed8f1;
}
